<h1>GAME AU</h1>
<%= link_to "create listing", new_listing_path %>

<div>
<% for listing in @listings %>
     <%= image_tag listing.picture if listing.picture.attached? %>
     <div><%= link_to listing.title, listing_path(listing.id)%></div>
        <div><%= listing.description %></div>
        <div><%= listing.platform.name%></div>
        <div><%= listing.genre.name %></div>
        <div><%= listing.price%></div>
    <%= link_to "view", listing_path(listing) %>
</div>
<% end %>

<% if current_user.id == listing.user_id %> 
    <%= form_with model: listing, local: true, method: "delete" do |form| %>
    <div>
        <%= submit_tag "delete", class: "icon" %>
        <%= link_to "edit", edit_listing_path(listing.id) %>
<% end %>
<% end %>
</div> 
